.content {
    padding: 0 16px 48px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #c7c5c5;
    margin: 48px;
    border-radius: 8px;
    min-height: 450px;
  }
  
  @media screen and (min-width: 768px) {
    .content {
      padding: 0 48px 72px;
    }
  }
  
  .title {
    margin: 48px 0;
    color: #fff;
  }
  
  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }